body {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-size: 24px;
    width: 960px;
    height: 640px;
    background: url(/backwhite.jpeg);
    background-size: cover;
}

.text-wrapper {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 700px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

h1 {
    margin-top: 70px;
    text-align: center;
}

main {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 30px;
    margin-top: 130px;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}

#output-wrapper {
    display: flex;
}

#second_output {
    width: 25%;
}


#output {
    width: 25%;
}

#hukidasi img {
    width: 260px;
    position: absolute;
    left: 300px;
    top: 260px;
}



#hukidasi2 img {
    width: 260px;
    position: absolute;
    left: 600px;
    top: 260px;
}

#player1 {
    width: 25%;
}

#player1 img {
    width: 230px;
}

#player2 {
    width: 25%;
}

#player2 img {
    width: 230px;
}